* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f7f7f5;
    color: #111;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: inherit;
}

section {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 25px;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
}

.section-title span {
    display: inline-block;
    color: #e63920;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.section-title h2 {
    font-size: 45px;
    line-height: 1.1;
    font-weight: 700;
}
html {
    scroll-behavior: smooth;
}
/* =========================
   WHATSAPP FLOATING BUTTON
========================= */

.whatsapp-floating {
    position: fixed;
    right: 22px;
    bottom: 25px;

    width: 58px;
    height: 58px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #25D366;
    color: #ffffff;

    border-radius: 50%;
    text-decoration: none;

    z-index: 999999;

    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.35);

    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

/* WhatsApp Icon */
.whatsapp-floating svg {
    width: 32px;
    height: 32px;
    display: block;
}

/* =========================
   WHATSAPP TOOLTIP
========================= */

.whatsapp-floating::before {
    content: "WhatsApp Us";

    position: absolute;
    right: 70px;
    top: 50%;
    transform: translateY(-50%) translateX(10px);

    background: green;
    color: #ffffff;

    padding: 8px 14px;
    border-radius: 6px;

    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;

    opacity: 0;
    visibility: hidden;

    transition:
        opacity 0.25s ease,
        transform 0.25s ease;
}

/* Small arrow */
.whatsapp-floating::after {
    content: "";

    position: absolute;
    right: 62px;
    top: 50%;
    transform: translateY(-50%);

    border-width: 5px 0 5px 6px;
    border-style: solid;
    border-color: transparent transparent transparent #111111;

    opacity: 0;
    visibility: hidden;

    transition: opacity 0.25s ease;
}

/* Hover */
.whatsapp-floating:hover {
    transform: scale(1.1);

    box-shadow:
        0 8px 25px rgba(37, 211, 102, 0.45);
}

.whatsapp-floating:hover::before {
    opacity: 1;
    visibility: visible;
    transform: translateY(-50%) translateX(0);
}

.whatsapp-floating:hover::after {
    opacity: 1;
    visibility: visible;
}
